@tailwind base;
@tailwind components;
@tailwind utilities;
body.no-scroll {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #09090B;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #171717;
  border-radius: 4px;
  border: 2px solid #09090B;
}

::-webkit-scrollbar-thumb:hover {
  background: #262626;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #171717 #09090B;
}